* {
  font-family: 'Lato';
  padding: 0px;
  margin: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  overflow-x: hidden;
}

.navi {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  width: 100%;
  font-family: 'Lato';
  font-weight: 300;
}

.navi__cont {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navi__cont__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 60px;
}

.navi__cont__options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navi__cont__options__item {
  padding: .5em;
  cursor: pointer;
}

.navi__cont__options__item a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em .0em;
}

.navi__cont__options__item a:hover {
  color: #ff9100;
}

.navi__cont__options__item__activo {
  border-bottom: 1px solid #ff9100;
  color: #ff9100 !important;
}

.navi__cont__search {
  margin-left: 10px;
}

.navi__cont__search__lupa {
  width: 12px;
}

.navi__cont__search__txt {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-top: 15px;
}

.navi__cont-derecha {
  width: 32%;
  margin-right: 100px;
}

.navi__cont-derecha__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navi__cont-derecha__options__item {
  list-style: none;
}

.navi__cont-derecha__options__item button {
  background: transparent;
  color: #fff;
  padding: 12px 20px;
  border-radius: 14px;
  font-weight: 300;
}

.navi__cont-derecha__options__item__signin {
  border: none;
}

.navi__cont-derecha__options__item__signup {
  border: 1px solid #fff;
  cursor: pointer;
}

.primera {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primera__banner {
  margin-top: 200px;
  margin-left: 10%;
}

.primera__banner__titulo {
  font-size: 70px;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  color: #fff;
  line-height: 80px;
}

.primera__banner__btn {
  background: #ff9100;
  padding: 10px 18px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  border: none;
  margin-top: -10px;
  border-radius: 5px;
  font-size: 19px;
}

.primera__intro {
  width: 100%;
  margin-top: 50px;
  height: auto;
}

.primera__intro__pic1 {
  background: black;
  height: 350px;
  width: 100%;
}

.primera__intro__pic2 {
  background: #414040;
  height: 350px;
  width: 100%;
  margin-top: -350px;
}

.primera__intro__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
  margin-top: -280px;
  margin-bottom: 133px;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.primera__intro__txt__titulo {
  margin-top: 10px;
  color: #ff9100;
  font-style: italic;
  font-weight: 200;
  margin: 0;
}

.primera__intro__txt__parrafo {
  color: white;
  font-weight: 200;
  margin: 0;
  width: 30%;
  text-align: right;
  margin-top: 6px;
}

.primera__intro__txt__btn {
  margin-top: 10px;
  background: transparent;
  color: #ff9100;
  padding: 12px 20px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 300;
  border: 1px solid #ff9100;
}

.anuncio {
  height: 250px;
  color: white;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.anuncio__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.anuncio__cont__descuento {
  width: auto;
  font-size: 180px;
  margin: 0;
}

.anuncio__cont__oferta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.anuncio__cont__oferta__pregunta {
  margin: 0;
  margin-left: 20px;
}

.anuncio__cont__oferta__especificaciones {
  text-align: justify;
  margin: 0;
  margin-left: 20px;
}

.anuncio__btn {
  margin-top: 10px;
  background: transparent;
  color: #ff9100;
  padding: 12px 20px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 300;
  border: 1px solid #ff9100;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.anuncio__btn:hover {
  background: #ff9100;
  color: white;
}

.caracteristica {
  background: black;
}

.caracteristica__uno {
  margin-top: 50px;
  width: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__uno__cont {
  background: url("../images/car1.jpg");
  height: 200px;
  background-position: 50% 42%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60%;
}

.caracteristica__uno__cont__titulo {
  color: #ff9100;
  padding: 25px;
  font-size: 50px;
  font-style: italic;
  font-weight: 200;
}

.caracteristica__uno__texto {
  display: inline-block;
  width: 20%;
  margin-left: 30px;
}

.caracteristica__uno__texto__titulo {
  color: #000000;
  font-style: italic;
  font-weight: 200;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__uno__texto__txt {
  color: black;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__uno:hover {
  margin-left: -30%;
}

.caracteristica__uno:hover .caracteristica__uno__texto__titulo {
  color: #ff9100;
}

.caracteristica__uno:hover .caracteristica__uno__texto__txt {
  color: #ffffff;
}

.caracteristica__dos {
  margin-top: 50px;
  width: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__dos__cont {
  background: url("../images/car1.jpg");
  height: 200px;
  background-position: 50% 42%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
}

.caracteristica__dos__cont__titulo {
  color: #ff9100;
  padding: 25px;
  font-size: 50px;
  font-style: italic;
  font-weight: 200;
}

.caracteristica__dos__texto {
  display: inline-block;
  width: 20%;
  margin-right: 30px;
  text-align: right;
}

.caracteristica__dos__texto__titulo {
  color: #000000;
  font-style: italic;
  font-weight: 200;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__dos__texto__txt {
  color: black;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__dos:hover {
  padding-left: 30%;
}

.caracteristica__dos:hover .caracteristica__dos__texto__titulo {
  color: #ff9100;
}

.caracteristica__dos:hover .caracteristica__dos__texto__txt {
  color: #ffffff;
}

.caracteristica__tres {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__tres__cont {
  background: url("../images/car1.jpg");
  height: 200px;
  background-position: 50% 42%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60%;
}

.caracteristica__tres__cont__titulo {
  color: #ff9100;
  padding: 25px;
  font-size: 50px;
  font-style: italic;
  font-weight: 200;
}

.caracteristica__tres__texto {
  display: inline-block;
  width: 20%;
  margin-left: 30px;
}

.caracteristica__tres__texto__titulo {
  color: #000000;
  font-style: italic;
  font-weight: 200;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__tres__texto__txt {
  color: black;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.caracteristica__tres:hover {
  margin-left: -30%;
}

.caracteristica__tres:hover .caracteristica__tres__texto__titulo {
  color: #ff9100;
}

.caracteristica__tres:hover .caracteristica__tres__texto__txt {
  color: #ffffff;
}

.interaccion {
  height: auto;
  padding: 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interaccion__cont {
  width: 80%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.interaccion__cont__botones {
  background: white;
  width: 100%;
  padding: 25px;
}

.interaccion__cont__botones__rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.interaccion__cont__botones__rating:not(:hover) label input:checked ~ .icon,
.interaccion__cont__botones__rating:hover label:hover input ~ .icon {
  color: #09f;
}

.interaccion__cont__botones__rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.interaccion__cont__botones__rating label:last-child .icon {
  color: #000;
}

.interaccion__cont__botones__rating label .icon {
  float: left;
  color: transparent;
}

.interaccion__cont__botones__rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.interaccion__cont__botones__rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.interaccion__cont__botones__rating label:last-child {
  position: static;
}

.interaccion__cont__botones__rating label:nth-child(1) {
  z-index: 5;
}

.interaccion__cont__botones__rating label:nth-child(2) {
  z-index: 4;
}

.interaccion__cont__botones__rating label:nth-child(3) {
  z-index: 3;
}

.interaccion__cont__botones__rating label:nth-child(4) {
  z-index: 2;
}

.interaccion__cont__botones__rating label:nth-child(5) {
  z-index: 1;
}

.interaccion__cont__botones__contslider__slide {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.interaccion__cont__botones__contslider__slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.interaccion__cont__botones__contslider__slide::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.interaccion__cont__botones__destinos {
  margin-top: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.interaccion__cont__botones__destinos-wrapper {
  width: 100%;
  height: 100%;
}

.interaccion__cont__botones__destinos .swiper-button-prev,
.interaccion__cont__botones__destinos .swiper-button-next {
  width: 16px;
  height: 26px;
  background-size: 16px 26px;
  margin: 0;
  top: 46%;
}

.interaccion__cont__botones__destinos .swiper-button-prev,
.interaccion__cont__botones__destinos .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.interaccion__cont__botones__destinos .swiper-button-next,
.interaccion__cont__botones__destinos .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.interaccion__cont__botones__destino {
  width: 100%;
  height: 100%;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.interaccion__cont__botones__destino__desc {
  margin-bottom: 20px;
}

.interaccion__cont__botones__btn {
  margin-top: 10px;
  background: transparent;
  color: #ff9100;
  padding: 12px 20px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 300;
  border: 1px solid #ff9100;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.interaccion__cont__botones__btn:hover {
  background: #ff9100;
  color: white;
}

.interaccion__cont__titulo {
  color: #ff9100;
  font-size: 60px;
  width: auto;
  margin: 0;
}

.inscripcion {
  height: 270px;
  color: white;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
  padding: 60px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inscripcion__news {
  /*
    display: flex;
    flex-direction: column;
    
    
    
    
    justify-content: space-between;
    align-items: center;
    //align-content: center;
*/
}

.inscripcion__news__titulo {
  font-size: 28px;
  margin: 0;
}

.inscripcion__news__txt {
  text-align: center;
}

.inscripcion__news__cont {
  width: 80%;
  margin-top: 60px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.inscripcion__news__cont__correo {
  width: 70%;
  background: white;
  border-radius: 8px 0px 0px 8px;
  border: none;
  padding-left: 21px;
  height: 100%;
  margin: 0;
  color: #c8c8c8;
}

.inscripcion__news__cont__btn {
  height: 100%;
  background: #ff9100;
  color: white;
  padding: 12px 20px;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  font-weight: 300;
  border: none;
  -webkit-transition: 400ms;
  transition: 400ms;
  margin-top: 1px;
}

.inscripcion__cont {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inscripcion__cont__frase {
  font-size: 30px;
  margin: 0;
}

.inscripcion__cont__nombre {
  font-weight: 200;
  margin-bottom: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background: black;
  padding: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 50%;
}

.footer__cont__contacto {
  width: 100%;
  padding-right: 30px;
}

.footer__cont__contacto__txt {
  padding-top: 10px;
  font-weight: 100;
}

.footer__cont__local {
  padding-right: 30px;
}

.footer__cont__local__txt {
  padding-top: 10px;
  font-weight: 100;
}

.footer__suscripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0;
  width: 50%;
}

.footer__suscripcion__titulo {
  padding-left: 10px;
}

.footer__suscripcion__txt {
  padding-top: 10px;
  padding-left: 10px;
}

.footer__suscripcion__cont {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: 40px;
}

.footer__suscripcion__cont__correo {
  width: 70%;
  background: white;
  border-radius: 8px 0px 0px 8px;
  border: none;
  padding-left: 21px;
  height: 100%;
  margin: 0;
  color: #c8c8c8;
}

.footer__suscripcion__cont__btn {
  height: 100%;
  background: #ff9100;
  color: white;
  padding: 12px 20px;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  font-weight: 300;
  border: none;
  -webkit-transition: 400ms;
  transition: 400ms;
  margin-top: 1px;
}
/*# sourceMappingURL=styles.css.map */